$background-color: linear-gradient(259.92deg, #000000 -41.68%, #00171f 146.85%);
$primary-text-color: #ffff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background: $background-color;
  color:$primary-text-color;
}
